
body {
    background:url('https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height:80vh;
}


  
.forecast {
    font-size: 0.9em;
}
  
.topnav {
    color: #e9e9e9;
    text-align: center;
    font-size: 17px;
    background-color: #3f3f3f;
    padding: 14px 16px;
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9e9e9;
    color: #000000;
    text-align: center;
}
  
.city-name {
    font-weight: bold;
    font-size: x-large;
}
  
p.current,
.city-name {
    color: #000000;
}
  
p {
    color: white;
}